<div class="page-header"><h1>Upload Photo</h1></div>
<center><div class = "link1"><%= link_to 'Home', articles_path%></div></center>
<div>
  <% @article.photos.each do |photo| %>
    <div class="comp">
      <!-- Renders image -->
      <%= link_to image_tag(photo.image.url), photo.image.url, target: '_blank' %>
    </div>
    <div>
      <h4>Delete : <%=link_to photo.title,"/articles/:article_id/photos/#{photo.id}", method: :delete, data: {confirm: 'Are you sure'} %></h4>
    </div>
  <% end %>
</div>